<div class="index-page">
  <h3>What would you like to do?</h3>
  <div class="btn-container">
    <a class="btn btn-default" href="study">Study <span class="word-count">(1093)</span></a>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Revise <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Known</a></li>
      <li><a href="#">Unknown</a></li>
    </ul>
  </div>
</div>