<div class="revise-page">
  <div class="word">abdicate</div>
  <input type="button" class="show-meaning" value="Show meaning"/>
  <div class="question-box hide">
    <h3>Did you guess the meaning right?</h3>
    <div class="buttons-container">
      <input type="radio" value="Yes" /> Yes
      <input type="radio" value="No" /> No
      <input class="next" type="button"  value="Next" />
    </div>
   </div>
  <div class="container hide">

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#google">Google</a></li>
      <li><a data-toggle="tab" href="#vocab">Vocabulary</a></li>
      <li><a data-toggle="tab" href="#oxford">Oxford</a></li>
    </ul>
    <div class="tab-content">
      <div id="google" class="tab-pane fade in active">

        <p>(of a monarch) renounce one's throne</p>
      </div>
      <div id="vocab" class="tab-pane fade">

        <p>fail to fulfil or undertake (a responsibility or duty)</p>
      </div>
      <div id="oxford" class="tab-pane fade">

        <p>fail to fulfil or undertake (a responsibility or duty)</p>
      </div>
    </div>
  </div>
</div>